/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 4rem;
}

/* variables */
:root {
  --main-color: #6c63ff;
  --secondary-color: #232427;
  --text-color: #4a4a4a;
  --bg-color: #f7f7fc;
}

img {
  width: 100%;
}
body {
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 100px;
  transition: 0.5s linear;
  background: var(--text-color);
}

.logo img {
  width: 60px;
}
.navbar {
  display: flex;
}

.navbar a {
  padding: 8px;
  color: var(--bg-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a:hover {
  background: var(--main-color);
  border-radius: 0.2rem;
  transition: 0.2s all linear;
}

.header-icon {
  font-size: 22px;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  column-gap: 0.8rem;
}

.header-icon .bx {
  color: var(--bg-color);
}

.header-icon .bx:hover {
  color: var(--main-color);
}

#menu-icon {
  display: none;
  color: var(--bg-color);
  font-size: 24px;
  cursor: pointer;
  z-index: 100001;
}

.search-box {
  position: absolute;
  top: 100%;
  left: 50%;
  background: var(--bg-color);
  transform: translate(-50%);
  width: 100%;
}
.search-box input {
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  outline: none;
  border: none;
  color: var(--main-color);
}

.search-box input::placeholder {
font-size: 1rem;
font-weight: 500;
}