/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 4rem;
}

/* variables */
:root {
  --main-color: #bc9667;
  --secondary-color: #1b1b1b;
  --text-color: #555;
  --bg-color: #fff;
  --hover-color: #8a6f4d;

  /* box shadow */
  --box-shadow: 2px 2px 10px 4px rgba(14, 55, 54, 0.15);
}

img {
  width: 100%;
}
section {
  padding: 50px 100px;
}
body {
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 100px;
  transition: 0.5s linear;
  background: var(--text-color);
}

.logo img {
  width: 60px;
}
.navbar {
  display: flex;
}

.navbar a {
  padding: 8px;
  color: var(--bg-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a:hover {
  background: var(--main-color);
  border-radius: 0.2rem;
  transition: 0.2s all linear;
}

.header-icon {
  font-size: 22px;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  column-gap: 0.8rem;
}

.header-icon .bx {
  color: var(--bg-color);
}

.header-icon .bx:hover {
  color: var(--main-color);
}

#menu-icon {
  display: none;
  color: var(--bg-color);
  font-size: 24px;
  cursor: pointer;
  z-index: 100001;
}

.search-box {
  position: absolute;
  top: -100%;
  left: 50%;
  background: var(--bg-color);
  transform: translate(-50%);
  width: 100%;
}
.search-box.active {
  top: 110%;
  box-shadow: var(--box-shadow);
  transition: 0.2s all linear;
}
.search-box input {
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  outline: none;
  border: none;
  color: var(--main-color);
}

.search-box input::placeholder {
  font-size: 1rem;
  font-weight: 500;
}

.home {
  width: 100%;
  min-height: 100vh;
  background: url(./images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
}

.home-text h1 {
  font-size: 3.4rem;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.home-text p {
  font-size: 0.938rem;
  color: var(--bg-color);
  margin: 0.5rem 0 1.4rem;
}
.btn {
  padding: 10px 40px;
  border-radius: 0.3rem;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 500;
}
.btn:hover {
  background: #8a6f4d;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  gap: 1.5rem;
}
.about-img img {
  border-radius: 0.5rem;
  width: 500px;
}

.about-text h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.1rem;
}

.heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.products-container .box {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.products-container img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: center;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 0.5rem;
}

.products-container .box h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.5rem 0 0.5rem;
}

.products-container .box .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.products-container .box .content span {
  padding: 0.1rem;
  color: var(--bg-color);
  background: var(--main-color);
  border-radius: 4px;
  font-weight: 500;
}

.products-container .box .content a {
  padding: 0 1rem;
  color: var(--text-color);
  border-radius: 4px;
  border: 2px solid var(--main-color);
  text-transform: uppercase;
}
.products-container .box .content a:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

.customers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}

.customers-container .box {
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
}

.stars .bx {
  color: var(--main-color);
}

.customers-container .box p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.1rem;
}

.customers-container .box h2 {
  font-size: 1rem;
  font-weight: 600;
}

.customers-container .box img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.customers-container .box:hover {
  background: var(--hover-color);
  transition: 0.3s all linear;
  color: #fff;
}

.footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
}
.footer-box h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer-box p{
  font-size: 0.938rem;
  margin-bottom: 1rem;
}
.social{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.social a .bx{
  font-size: 24px;

  padding: 10px;
  background: #c9c7c7;
  border-radius: 0.2rem;
}
.social a .bx:hover{
  color: var(--bg-color);
  background: var(--main-color);
  transition: 0.2s all linear;
}
.contact{

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}